# Project exclude paths
/21_project_hot_news_top/project/project/target/
/21_project_hot_news_top/project/target/
/21_project_hot_news_top/target/
/21_project_hot_news_top/data/

/21_project_hot_news_msg/project/project/target/
/21_project_hot_news_msg/project/target/
/21_project_hot_news_msg/target/
/21_project_hot_news_msg/data/

/21_project_hot_news_etl/project/project/target/
/21_project_hot_news_etl/project/target/
/21_project_hot_news_etl/target/
/21_project_hot_news_etl/data/

/21_project_hot_news_etl_day/project/project/target/
/21_project_hot_news_etl_day/project/target/
/21_project_hot_news_etl_day/target/
/21_project_hot_news_etl_day/data/

/15_Structured_Streaming/project/project/target/
/15_Structured_Streaming/project/target/
/15_Structured_Streaming/target/

/13_kafka/project/project/target/
/13_kafka/project/target/
/13_kafka/target/


/12_spark_ML/project/project/target/
/12_spark_ML/project/target/
/12_spark_ML/target/

/11_spark_test_app/project/project/target/
/11_spark_test_app/project/target/
/11_spark_test_app/target/

/10_spark_connector/project/project/target/
/10_spark_connector/project/target/
/10_spark_connector/target/

/08_spark_data_api/project/project/target/
/08_spark_data_api/project/target/
/08_spark_data_api/target/

/03_hdfs/project/project/target/
/03_hdfs/project/target/
/03_hdfs/target/

/02_build_project/project/project/target/
/02_build_project/project/target/
/02_build_project/target/

